@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin center-both() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
@font-face {
    font-family: 'segoi-light';
    font-style: normal;
    src: local('Segoe UI Light'), local('SegoeUI-Light');
}
@font-face {
    font-family: 'segoi-semibold';
    font-style: normal;
    src: local('Segoe UI Semibold'), local('SegoeUI-Semibold');
}
@font-face {
    font-family: 'segoi-bold';
    font-style: normal;
    src: local('Segoe UI Bold'), local('SegoeUI-Bold');
}
//Colors

$primary-1: #222222;
$primary-2: #777777;
$white: #ffffff;
$grey-shade: #faf9ff;
$blue: #1f4afb;

//Font
$segoi-light: 'segoi-light';
$segoi-regular: 'segoi-regular';
$segoi-semibold: 'segoi-semibold';
$segoi-bold: 'segoi-bold';
body{
    font-family: Segoe UI;
    font-size: 14px;
}
@media (min-width: 1260px){
    .container{
        max-width: 1240px;
    }
}
.banner{
    background: url(../images/banner.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: $white;
    display: flex;
    height: 100vh;
    margin-bottom: 120px;
    &__overlay{
        background: rgba(0,0,0,.5);
        height: 100%;
        position: absolute;          
        width: 100%;      
        z-index: 1;
    }
    &__content{
        margin: auto;  
        position: relative;
        width: 60%;
        z-index: 2;
        @media (max-width: 1199px){
            width: 95%;
        }
    }
    &__title{
        font-family: $segoi-bold;
        font-size: 62px;
        margin-bottom: 24px;
    }    
    &__description{
        margin-bottom: 63px;
    }    
}
.btn{    
    font-size: 14px;
    &__big{
        padding: 14px 36px 15px;
    }
    &__medium{
        padding: 8px 31px 9px;
    }
    &__wide{
        padding: 8px 37px 9px;
    }
    &--white{
        background: $white;
        color: $primary-1;
        &:hover{
            background: darken( $white, 10% );
            color: $primary-1;
        }
    }
    &--blue{
        background: $blue;
        color: $white;
        &:hover{
           background: lighten( $blue, 5% );
           color: $white;
        }
    }
    &--bold{
        font-family: $segoi-bold;
    }
}
.w-20{
    flex: 0 0 20%;
    max-width: 20%;
    @media (max-width: 575.99px) { 
        flex: 0 0 100%;
        max-width: 100%;
    }
    @media (min-width: 576px) and (max-width: 768px) { 
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media (min-width: 769px) and (max-width: 1200px) { 
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.newsletter{
    background: $grey-shade;
    padding: 100px 20px;  
    margin-top: 140px;  
    &__container{
        margin: auto;
        width: 630px;
        @media (max-width: 650px){
            width: 100%;
        }
    }
    &__title{
        font-family: $segoi-bold;
        font-size: 30px;
        margin-bottom: 10px;
    }
    &__info{
        color: $primary-2;
        margin-bottom: 50px;
    }
    &__textbox{
        background: $white;
        border: none;
        color: $primary-2;        
        height: 40px;
        padding: 15px 25px;
        width: 100%;
        &:focus{
            box-shadow: 0 0 4px inset $primary-2;
            outline: none;
            transition: all 0.5s linear;
        }
    }
}
.product{
    font-family: $segoi-bold;
    margin-bottom: 30px;
    &__image{
        height: 254px;
        display: inline-flex;
        align-items: center;
        .img-fluid{
            max-height: 100%;
        }
    }
    &__title{
        font-size: 14px;
        margin: 9px 0 7px;
    }
    &__price{
        color: $primary-2;
        font-size: 16px;
        margin-bottom: 10px;
    }
}