@font-face {
    font-family: 'segoi-light';
    font-style: normal;
    src: local('Segoe UI Light'), local('SegoeUI-Light');
}
@font-face {
    font-family: 'segoi-regular';
    font-style: normal;
    src: local('Segoe UI Regular'), local('SegoeUI-Regular');
}
@font-face {
    font-family: 'segoi-semibold';
    font-style: normal;
    src: local('Segoe UI Semibold'), local('SegoeUI-Semibold');
}
@font-face {
    font-family: 'segoi-bold';
    font-style: normal;
    src: local('Segoe UI Bold'), local('SegoeUI-Bold');
}