//Colors

$primary-1: #222222;
$primary-2: #777777;
$white: #ffffff;
$grey-shade: #faf9ff;
$blue: #1f4afb;

//Font
$segoi-light: 'segoi-light';
$segoi-regular: 'segoi-regular';
$segoi-semibold: 'segoi-semibold';
$segoi-bold: 'segoi-bold';