@font-face {
  font-family: 'segoe-light';
  font-style: normal;
  src: local("Segoe UI Light"), local("SegoeUI-Light"); }
@font-face {
  font-family: 'segoe-regular';
  font-style: normal;
  src: local("Segoe UI regular"), local("SegoeUI-regular"); }
@font-face {
  font-family: 'segoe-semibold';
  font-style: normal;
  src: local("Segoe UI Semibold"), local("SegoeUI-Semibold"); }
@font-face {
  font-family: 'segoe-bold';
  font-style: normal;
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"); }
body {
  font-family: Segoe UI;
  font-size: 14px; }

a, a:hover, a:focus {
  text-decoration: none; }

.default-theme {
  background: #ffffff; }

.light--theme, .light-theme {
  background: #dedede; }

.dark--theme, .dark-theme {
  background: #000000; }

@media (min-width: 1260px) {
  .container {
    max-width: 1240px; } }
@media (max-width: 768px) {
  .container {
    max-width: 100%; } }
.banner {
  background: url(../images/banner.png) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  display: flex;
  height: calc(100vh - 122px);
  margin-bottom: 120px;
  position: relative; }
  @media (max-width: 768px) {
    .banner {
      margin-bottom: 54px; } }
  @media (max-width: 576px) {
    .banner {
      height: calc(100vh - 82px); } }
  .banner__overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1; }
  .banner__content {
    margin: auto;
    position: relative;
    width: 60%;
    z-index: 2; }
    @media (max-width: 1199px) {
      .banner__content {
        width: 95%; } }
  .banner__title {
    font-family: "segoe-bold";
    font-size: 62px;
    margin-bottom: 24px; }
    @media (max-width: 768px) {
      .banner__title {
        font-size: 25px; } }
  .banner__description {
    margin-bottom: 63px; }
    .banner__description span {
      margin: 0 13px; }
  .banner--small {
    height: 225px; }
    .banner--small .banner__title {
      margin-top: 15px;
      margin-bottom: 14px; }
  .dark--theme .banner .btn--white {
    background: #2b4afc;
    color: #ffffff; }

.btn {
  font-size: 14px; }
  .btn__small {
    padding: 10px; }
  .btn__medium {
    padding: 8px 31px 9px; }
  .btn__big {
    padding: 14px 36px 15px; }
  .btn__wide {
    padding: 8px 37px 9px; }
  .btn--white {
    background: #ffffff;
    color: #222222; }
    .btn--white:hover {
      background: #e6e6e6;
      color: #222222; }
  .btn--blue {
    background: #1f4afb;
    color: #ffffff; }
    .btn--blue:hover {
      background: #385efb;
      color: #ffffff; }
  .btn--bold {
    font-family: "segoe-bold"; }

.w-20 {
  flex: 0 0 20%;
  max-width: 20%; }
  @media (max-width: 575.99px) {
    .w-20 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .w-20 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 769px) and (max-width: 1200px) {
    .w-20 {
      flex: 0 0 25%;
      max-width: 25%; } }

.header__top {
  background: #ffffff;
  height: 40px;
  border-bottom: 1px solid #eeeeee; }
  @media (max-width: 576px) {
    .header__top {
      display: none; } }
  .light--theme .header__top {
    background: #ffffff; }
  .dark--theme .header__top {
    background: #ffffff; }
.header__left {
  float: left; }
  .header__left a {
    color: #777777;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 39px; }
.header__right {
  float: right;
  padding: 10px 0; }
  .header__right a {
    color: #777777;
    text-transform: uppercase;
    font-size: 13px;
    border-right: 1px solid #eeeeee;
    padding: 0 19px 0 23px;
    float: left; }
    @media (max-width: 768px) {
      .header__right a {
        padding: 0 18px 0 21px; } }
    .header__right a:last-child {
      border-right: none;
      padding-right: 0; }
.header__bottom {
  background: #f8f8f8;
  position: relative; }
  .light--theme .header__bottom {
    background: #dedede; }
  .dark--theme .header__bottom {
    background: #000000; }
.header__logo {
  float: left;
  line-height: 82px; }
.header__navsection {
  float: right;
  width: 70%;
  position: relative; }
  @media (max-width: 768px) {
    .header__navsection {
      width: auto; } }
  .header__navsection .menuclick {
    color: #1f4afb;
    display: none;
    font-size: 31px;
    float: right;
    margin: 17px 30px 17px 0; }
    @media (max-width: 768px) {
      .header__navsection .menuclick {
        display: block; } }
.header__menu {
  float: left; }
  @media (max-width: 768px) {
    .header__menu {
      position: absolute;
      right: -15px;
      top: 79px;
      z-index: 99;
      background: #f8f8f8;
      left: auto;
      width: 120px; }
      .dark--theme .header__menu {
        background: #222222; }
      .light--theme .header__menu {
        background: #dedede; } }
  .header__menu.collapse {
    display: block; }
    @media (max-width: 768px) {
      .header__menu.collapse {
        display: none; } }
    .header__menu.collapse.show {
      display: block; }
  @media (max-width: 1199px) {
    .header__menu {
      float: right; } }
  .header__menu a {
    color: #222222;
    line-height: 82px;
    text-transform: uppercase;
    font-family: "segoe-bold";
    padding: 0 23px;
    font-size: 12px;
    float: left; }
    @media (max-width: 768px) {
      .header__menu a {
        border-bottom: 1px solid #eeeeee;
        display: block;
        line-height: 40px;
        text-align: center;
        width: 100%; } }
    .dark--theme .header__menu a {
      color: #ffffff; }
    .header__menu a:hover, .header__menu a.active {
      color: #1f4afb; }
.header__icons {
  float: right;
  padding-right: 30px; }
  @media (max-width: 1199px) {
    .header__icons {
      display: none; } }
  .header__icons a {
    color: #222222;
    line-height: 82px;
    padding: 0 27px;
    border-right: 1px solid #eeeeee;
    float: left; }
    .header__icons a:first-child {
      border-left: 1px solid #eeeeee; }
    .light--theme .header__icons a {
      border-color: #eeeeee; }
    .dark--theme .header__icons a {
      color: #ffffff;
      border-color: #545454; }
.header .theme-selection {
  position: absolute;
  right: 0px;
  top: 25px; }
  .header .theme-selection__icon {
    width: 30px;
    display: block;
    background: #1f4afb;
    color: #ffffff;
    text-align: center;
    height: 30px;
    line-height: 30px; }
    .header .theme-selection__icon .fas {
      animation: rotation 2s infinite linear; }
  .header .theme-selection__collapse.show {
    display: block; }
  .header .theme-selection__collapse a {
    width: 30px;
    height: 30px;
    display: block; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
.newsletter {
  background: #faf9ff;
  padding: 100px 20px;
  margin-top: 140px; }
  @media (max-width: 768px) {
    .newsletter {
      padding: 90px 20px;
      margin-top: 70px; } }
  @media (max-width: 576px) {
    .newsletter {
      margin-top: 30px; } }
  .newsletter__container {
    margin: auto;
    padding: 0 15px;
    width: 630px; }
    @media (max-width: 768px) {
      .newsletter__container {
        padding: 0;
        width: 100%; } }
  .newsletter__title {
    font-family: "segoe-bold";
    font-size: 30px;
    margin-bottom: 10px; }
    .dark--theme .newsletter__title {
      color: #ffffff; }
    @media (max-width: 768px) {
      .newsletter__title {
        font-size: 20px; } }
  .newsletter__info {
    color: #777777;
    margin-bottom: 50px; }
    .dark--theme .newsletter__info {
      color: #ffffff; }
  .newsletter__textbox {
    background: #ffffff;
    border: none;
    color: #777777;
    height: 50px;
    padding: 12px 15% 15px 25px;
    width: 90%; }
    .newsletter__textbox:focus {
      box-shadow: 0 0 4px inset #777777;
      outline: none;
      transition: all 0.5s linear; }
  .newsletter__content {
    position: relative; }
    .newsletter__content .btn--blue {
      position: absolute;
      right: 0;
      top: 5px; }
  .light--theme .newsletter {
    background: #cfd4fe; }
  .dark--theme .newsletter {
    background: #2b4afc; }
    .dark--theme .newsletter .btn--blue {
      background: #000000;
      color: #ffffff; }

.product {
  font-family: "segoe-bold";
  margin-bottom: 30px;
  transition: all 400ms ease-in-out 0s; }
  .product__image {
    display: inline-flex;
    align-items: center;
    position: relative; }
    .product__image .img-fluid {
      max-height: 100%; }
  .product__title {
    color: #222222;
    font-size: 14px;
    padding: 9px 0 7px;
    margin: 0; }
    .dark--theme .product__title {
      color: #ffffff; }
  .product__price {
    color: #777777;
    font-size: 16px;
    margin-bottom: 10px; }
    .dark--theme .product__price {
      color: #ffffff; }
  .product__hover {
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: all 400ms ease-in-out 0s; }
    .product__hover a {
      color: #777777;
      background: #ffffff;
      padding: 10px;
      margin-left: 10px; }
  .product:hover .product__hover {
    opacity: 1;
    transition: all 400ms ease-in-out 0s; }

#sync1 .item {
  height: 557px;
  width: 100%; }
  @media (max-width: 576px) {
    #sync1 .item {
      height: 355px; } }
  #sync1 .item img {
    height: 100%; }

#sync2 {
  position: absolute;
  bottom: 30px;
  right: 45px;
  width: 165px; }
  #sync2 .item {
    width: 50px;
    height: 50px;
    cursor: pointer; }
  #sync2 .current .item {
    position: relative; }
    #sync2 .current .item:after {
      content: "";
      position: absolute;
      background: rgba(184, 80, 77, 0.8);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }

.owl-theme .owl-nav [class*='owl-'] {
  transition: all .3s ease; }
  .owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6; }

.product-details {
  padding: 60px 0 60px 84px;
  color: #777777; }
  @media (max-width: 991px) {
    .product-details {
      padding: 35px 0; } }
  .product-details__head {
    font-size: 26px;
    color: #222222;
    font-family: "segoe-bold"; }
    .dark--theme .product-details__head {
      color: #ffffff; }
  .product-details__price {
    color: #1f4afb;
    font-size: 26px;
    font-family: "segoe-bold"; }
  .product-details__list {
    margin: 0;
    padding: 14px 0 22px;
    list-style: none; }
    .dark--theme .product-details__list {
      color: #ffffff; }
    .product-details__list li:first-child {
      padding-bottom: 8px; }
      .product-details__list li:first-child span:last-child {
        color: #1f4afb; }
    .product-details__list li span:first-child {
      width: 100px;
      display: inline-block;
      font-family: "segoe-semibold"; }
  .product-details__text {
    margin: 0;
    border-top: 1px dotted #777777;
    padding: 22px 0 26px; }
    .dark--theme .product-details__text {
      color: #ffffff; }
  .product-details__quantity {
    padding: 46px 0 30px; }
    .dark--theme .product-details__quantity {
      color: #ffffff; }
    .product-details__quantity .select-box {
      margin-left: 10px;
      position: relative; }
      .product-details__quantity .select-box input {
        border: 1px solid #eeeeee;
        background: #ffffff;
        width: 60px;
        padding: 0 5px;
        height: 30px; }
    @media (max-width: 991px) {
      .product-details__quantity {
        padding: 0 0 30px; } }
  .product-details__cart .far {
    background: #faf9ff;
    border-radius: 4px;
    padding: 13px;
    margin-left: 13px; }
    .dark--theme .product-details__cart .far {
      background: #ffffff; }

.addproduct {
  background: #fff;
  padding: 50px 0; }
  .addproduct__box {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px; }
    @media (max-width: 768px) {
      .addproduct__box {
        width: 100%; } }

.footer {
  padding: 125px 0; }
  @media (max-width: 768px) {
    .footer {
      padding: 66px 0; } }
  .footer__title {
    font-size: 18px;
    font-family: "segoe-bold";
    padding-bottom: 30px; }
    .dark--theme .footer__title {
      color: #ffffff; }
  .footer__content {
    color: #777777;
    margin-bottom: 22px; }
    .dark--theme .footer__content {
      color: #ffffff; }
  .footer .instafeed {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 20px; }
    .footer .instafeed__img {
      width: 56px;
      height: 58px;
      overflow: hidden;
      margin: 5px 4px; }
      .footer .instafeed__img img {
        width: 100%;
        height: 100%; }
  .footer .copyright {
    color: #777777;
    text-align: center;
    margin-top: 45px; }
    .dark--theme .footer .copyright {
      color: #ffffff; }
  .footer__news {
    position: relative;
    overflow: hidden;
    margin-bottom: 35px; }
    .footer__news .email-box {
      color: #777777;
      width: 100%;
      height: 40px;
      border: none;
      background: #faf9ff;
      padding: 0 20px; }
      .footer__news .email-box:focus {
        box-shadow: 0 0 4px inset #777777;
        outline: none;
        transition: all 0.5s linear; }
    .footer__news .btn {
      background: #1f4afb;
      color: #ffffff;
      border-radius: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border: none;
      padding: 0 13px; }
  .footer .social-icon span {
    color: #777777;
    margin: 0 25px 25px 0;
    float: left; }
    .dark--theme .footer .social-icon span {
      color: #ffffff; }
