<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="../../content/themes/default/vendor/vendor.min.css" rel="stylesheet">
    <link href="../../content/themes/default/site/css/app.min.css" rel="stylesheet">

    <title>WearIt</title>
</head>

<body>
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header__left">
                        <a href="tel:012 44 5698 7456 896">Call us: 012 44 5698 7456 896</a> 
                    </div>
                    <div class="header__right">
                        <a href="#">Login/Register</a>
                        <a href="#">My account</a>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header__logo">
                        <a href="#"><img src="../../content/themes/default/site/images/logo.png" alt="logo"/></a>
                    </div>
                    <div class="header__navsection">
                        <a class="menuclick" data-toggle="collapse" href="#menuexpand"><span class="far fa-bars"></span></a>
                        <div class="header__menu collapse" id="menuexpand">
                            <a class="active" href="#">Home</a>
                            <a href="#">Shop</a>
                            <a href="#">Blog</a>
                            <a href="#">Pages</a>
                            <a href="#">Contact</a>
                        </div>
                        <div class="header__icons">
                            <a href="#">
                            <span class="fas fa-search"></span>
                            </a>
                            <a href="#">
                            <span class="fas fa-user"></span>
                            </a>
                            <a href="#">
                            <span class="far fa-heart"></span>
                            </a>
                            <a href="#">
                            <span class="far fa-shopping-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</header>
    <section class="banner text-center">
        <div class="banner__overlay"></div>
        <div class="banner__content">
            <h1 class="banner__title">Fashion for <br/> Upcoming Winter</h1>
            <p class="banner__description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <button type="button" class="btn btn__big btn--bold  btn--white">View Collection</button>
        </div>
    </section>

    <section class="container">
        <div class="row">             
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-1.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-2.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-3.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-4.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-5.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-1.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-4.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-5.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-3.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
            <div class="product w-20 col text-center">
                <div class="product__image">
                    <div class="product__hover">
                        <a class="far fa-heart"></a>
                        <a class="far fa-eye"></a>
                    </div>
                    <img class="img-fluid" src="../../content/themes/default/site/images/f-p-2.png" alt="product" />
                </div>
                <h5 class="product__title text-truncate" title="Long Sleeve TShirt">Long Sleeve TShirt</h5>
                <h5 class="product__price">$150.00</h5>
            </div>
        </div>        
    </section>

    <section class="newsletter">
        <div class="newsletter__container">
            <h2 class="newsletter__title text-center">Subscribe for Our Newsletter</h2>
            <p class="newsletter__info text-center">We won't send any kind of spam</p>
            <div class="newsletter__content">
                <input type="text" class="newsletter__textbox rounded-pill" placeholder="Email address" />
                <button type="button" class="btn btn--blue btn__medium rounded-pill">Get Started</button>
            </div>
        </div>
    </section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                        <div class="footer__title">
                            About Us
                        </div>
                        <div class="footer__content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-12">
                        <div class="footer__title">
                            Newsletter
                        </div>
                        <div class="footer__content">
                            Stay updated with our latest trends
                        </div>
                        <div class="footer__news">
                            <input type="text" placeholder="Email Address" class="email-box" />
                            <button class="btn" type="button"><span class="far fa-long-arrow-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-12">
                        <div class="footer__title">
                            Instagram Feed
                        </div>
                        <div class="instafeed">
                            <div class="instafeed__img">
                                <img src="../../content/themes/default/site/images/1.png" alt=""/>
                            </div>
                            <div class="instafeed__img">
                                <img src="../../content/themes/default/site/images/2.png" alt=""/>
                            </div>
                            <div class="instafeed__img">
                                <img src="../../content/themes/default/site/images/3.png" alt=""/>
                            </div>
                            <div class="instafeed__img">
                                <img src="../../content/themes/default/site/images/4.png" alt=""/>
                            </div>
                            <div class="instafeed__img">
                                <img src="../../content/themes/default/site/images/5.png" alt=""/>
                            </div>
                            <div class="instafeed__img">
                                <img src="../../content/themes/default/site/images/6.png" alt=""/>
                            </div>
                            <div class="instafeed__img">
                                <img src="../../content/themes/default/site/images/7.png" alt=""/>
                            </div>
                            <div class="instafeed__img">
                                <img src="../../content/themes/default/site/images/8.png" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-12">
                        <div class="footer__title">
                            Follow Us
                        </div>
                        <div class="footer__content">
                            Let us be social
                        </div>
                        <div class="social-icon">
                            <span class="fab fa-facebook-f"></span>
                            <span class="fab fa-twitter"></span>
                            <span class="fab fa-dribbble"></span>
                            <span class="fab fa-behance"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col copyright">
                Copyright ©2020
            </div>
        </div>
    </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
       ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script>
        $('.product__hover .fa-heart').click(function(){
    $(this).toggleClass("fas");
});
        </script>
</body>

</html>